<h1>Latest pastries hot out the oven!</h1>
<p>Sexy pastries from our sexy bakers</p>
<section class="pastries">
	<% @pastries.each do |pastry| %>
		<div class="pastry">
			<p><%= link_to pastry[:name], pastry_path(pastry) %></p>
			<p><%= pastry[:price_in_pence] %></p>
		</div>


	<% end %>
</section>


